/***********************************************TAG SELECTOR*******************************************/
body{
    background-color: #cfd3ce;
    margin: auto;
    font-family: 'Ubuntu', sans-serif; 
    text-align: left;
}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
/***********************************************CLASS SELECTOR*******************************************/
.section1{
    background-color: #c6b497;
}
.profilePic{
    position:relative;
    margin: 7%;
}
.container-fluid{
    padding: 3% 3%;
}

/***********************************************ID SELECTOR*******************************************/



/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 
palette1
#ffe3d8
#bbbbbb
#03506f
#0a043c

palette2
#c6b497
#cfd3ce
#839b97
#34626c
*/