/****************************************TAG SELECTORS/****************************************/

body {
    background-color: #EAF6F6;
    }
hr{
   border-style: dotted none none none;
   border-top-width: 5px;
   border-color: grey;
   border-width: 7px;
   width: 10%;
}
h1{
    color: #66bfbf;
}
h1:hover{
    color: blue;
}
h3{
    color: #66bfbf;
}

/****************************************CLASS SELECTORS/****************************************/
